@using car_system.Models.Entities
@model List<Cars>
@{
    ViewData["Title"] = "Home Page";
    var userId = Context.Session.GetString("UserId");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Hello</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link rel="stylesheet" type="text/css" href="~/css/homepage.css" />

    @*<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.min.css" />*@

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet" />

    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

   
</head>

<body>
    <!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container1">
            <!-- Menu Icon -->
            <i class="bx bx-menu" id="menu-icon"></i>
            <!-- Logo -->
            <a href="#" class="logo">Hajur ko <span>car rental</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#cars">Cars</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#blog">Our Blog</a></li>
            </ul>

            <!-- Search Icon -->
            <i class="bx bx-search" id="search-icon"></i>
            <!-- Search Box -->
            <div class="search-box container1">
                <input type="search" name="" id="" placeholder="Search here..." />
            </div>
            <div>
                <a href="/Account/Login"><button class="home-signin-btn" type="submit">Login</button></a>
                <a href="/Account/Register"><button class="home-signup-btn" type="submit">Register</button></a>
            </div>
        </div>
    </header>

    <!-- Home -->

    <section class="home" id="home">
        <div class="home-text">
            <h1>
                We Rent Variety <br />
                Of <span> Cars </span>
            </h1>
            <p>
                Lorem ipsum dolor sit amet <br />
                consectetur adipisicing elit.
            </p>
            <a href="#" class="home-btn">Discover Now</a>
        </div>
    </section>

    <!-- Cars section -->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Cars</span>
            <h2>We have all types cars</h2>
            <p>
                Lorem ipsum dolor sit amet coicing elit. Oint similique. Aspernaturm!
            </p>
        </div>

        <!-- Cars container -->

        <div class="cars-container container1">
            <form id="rentalForm" method="post" asp-controller="Rental" asp-action="CreateRentalRequest">
                <!-- Your existing HTML code for the car cards -->
                @foreach (var car in Model)
                {
                    <div class="product-card" id="product-card2">
                        <!-- Car details -->
                        <div class="main">
                            <img src="@car.Picture" alt="car image" id="main-image1" />
                            <div class="price" id="price1">@car.RentPrice</div>
                            <div class="inline-block">
                                <h2>@car.Model</h2>
                            </div>
                        </div>
                        <div class="details" id="details1">
                            <div class="detail">
                                <p class="type">
                                    <i class="fa-solid fa-gear"></i> &nbsp;
                                    Condition
                                </p>
                                <p class="description">@car.Condition</p>
                            </div>
                            <div class="detail">
                                <p class="type"><i class="fa-solid fa-car"></i> &nbsp; Availability</p>
                                <p class="description">@car.Availability</p>
                            </div>
                        </div>
                        <!-- Rent button -->
                        <button type="button" class="rent-button" data-car-id="@car.CarId">Rent Now</button>
                    </div>
                }
            </form>
        </div>
    </section>

    <!-- About -->
    <section class="about container1" id="about">
        <div class="about-img">
            <img src="/Images/about.png" alt="" />
        </div>

        <div class="about-text">
            <span>About Us</span>
            <h2>
                Cheap Prices With <br />
                Quality Cars
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                aspernatur vitae amet perspiciatis reiciendis quae, quis odit atque.
                Alias qui, dignissimos voluptatem praesentium nam adipisci quasi
                temporibus quisquam accusantium quibusdam.
            </p>

            <!-- About Button -->
            <a href="#" class="home-btn">Learn More</a>
        </div>
    </section>

    <!-- Blog Container -->
    <section class="blog" id="blog">
        <div class="heading">
            <span>Blog & News</span>
            <h2>Our Blog Content</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                assumenda iste molestiae
            </p>
        </div>

        <!-- Blog Container -->
        <div class="blog-container container1">
            <!-- Box 1 -->
            <div class="box">
                <img src="/Images/car1.jpg" alt="" />
                <span>Feb 14 2021</span>
                <h3>How to Get Perfect Car At Low Price</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
                    veritatis iure officiis delectus aliquid sunt cupiditate officia
                    cum, deleniti sequi esse nulla, voluptas error dignissimos iste
                    porro nisi? Commodi, dignissimos.
                </p>
                <a href="#" class="blog-btn">
                    Read More<i class="bx bx-right-arrow-alt"></i>
                </a>
            </div>

            <!-- Box 2 -->
            <div class="box">
                <img src="/Images/car2.jpg" alt="" />
                <span>Feb 14 2021</span>
                <h3>How to Get Perfect Car At Low Price</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
                    veritatis iure officiis delectus aliquid sunt cupiditate officia
                    cum, deleniti sequi esse nulla, voluptas error dignissimos iste
                    porro nisi? Commodi, dignissimos.
                </p>
                <a href="#" class="blog-btn">
                    Read More<i class="bx bx-right-arrow-alt"></i>
                </a>
            </div>

            <!-- Box 3 -->
            <div class="box">
                <img src="/Images/car3.jpg" alt="" />
                <span>Feb 14 2021</span>
                <h3>How to Get Perfect Car At Low Price</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
                    veritatis iure officiis delectus aliquid sunt cupiditate officia
                    cum, deleniti sequi esse nulla, voluptas error dignissimos iste
                    porro nisi? Commodi, dignissimos.
                </p>
                <a href="#" class="blog-btn">
                    Read More<i class="bx bx-right-arrow-alt"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Footer -->

    <section class="footer">
        <div class="footer-container container1">
            <div class="footer-box">
                <a href="#" class="logo">Hajur ko <span>Car Rental</span></a>
                <div class="social">
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                    <a href="#"><i class="bx bxl-instagram"></i></a>
                    <a href="#"><i class="bx bxl-youtube"></i></a>
                </div>
            </div>

            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Cars</a>
                <a href="#">Parts</a>
                <a href="#">Sales</a>
            </div>

            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookie Policy</a>
            </div>

            <div class="footer-box">
                <h3>Contact</h3>
                <p>Kathmandu, Nepal</p>
                <p>+977 9820346620</p>
            </div>
        </div>
    </section>

    <div class="copyright">
        <p>&#169; All Rights Reserved</p>
    </div>

    <!-- Link To Js -->
    <script src="main.js"></script>
</body>
<script>
    const rentButtons = document.querySelectorAll('.rent-button');
    const userId = '@Context.Session.GetString("UserId")';

    rentButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const carId = button.getAttribute('data-car-id');
            const rentalRequest = {
                CarRented: carId, // ID of the car being rented
                UserId: userId, // ID of the user making the rental request
                RentalStatus: 'pending', // Default status value
                 RentalDate: ... // Include the rental date if needed
                // ... include other properties if needed
            };

            try {
                const response = await fetch('/api/rentals', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(rentalRequest),
                });

                if (response.ok) {
                    // handle success response
                } else {
                    // handle error response
                }
            } catch (error) {
                // handle network or other errors
            }
        });
    });
</script>
</html>
