@using car_system.Models.Entities
@model List<Cars>

<h1>Car List</h1>

@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>image</th>
                <th>Condition</th>
                <th>Model</th>
                <th>Availability</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <th><img src="@car.Picture"/></th>
                    <td>@car.Condition</td>
                    <td>@car.Model</td>
                    <td>@car.Availability</td>
                    <!-- Display more properties as needed -->
                    <td>
                        <a href="@Url.Action("Edit", "Car", new { id = car.CarId })">Edit</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "Car", new { id = car.CarId })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No cars found.</p>
}